@page "/customermanagement"
<h3>Customer Management System</h3>

<br />
<div class="input-group">
	<span class="input-group-text">Customer ID:</span>
	<input type="text" aria-label="First name" class="form-control">
</div>
<br />
<div class="input-group">
	<span class="input-group-text">Customer Full Name:</span>
	<input type="text" aria-label="First name" class="form-control">
</div>
<br />
<div class="input-group">
	<span class="input-group-text">Customer Phone #:</span>
	<input type="text" aria-label="First name" class="form-control">
</div>
<br />
<div class="input-group">
	<span class="input-group-text">Customer E-mail:</span>
	<input type="text" aria-label="First name" class="form-control">
</div>
<br />
<div class="input-group">
	<span class="input-group-text">Customer Address:</span>
	<input type="text" aria-label="First name" class="form-control">
</div>
<br />
<div class="input-group">
	<span class="input-group-text">Vehicle VIN:</span>
	<input type="text" aria-label="First name" class="form-control">
</div>
<br />
<div class="input-group">
	<span class="input-group-text">Vehicle MakeModelYear:</span>
	<input type="text" aria-label="First name" class="form-control">
</div>
<br />
<br />
<button type="button" class="btn btn-outline-success">Add Customer</button>
<br />
<br />
<br />
<br />

@code {

}
