@page "/schedulingcustomer"
@using FinalProj.Data.Models
@using FinalProj.Data.Controllers
@using FinalProj.Data
@inject DataAccessLayer DAL


<h3>Appointment Booking System</h3>
<br />
<br />

<select @bind="CustomerId" class="form-select" aria-label="Default select example">
	<option selected disabled value="">Choose Customer ID:</option>
	@foreach (var customer in customers)
	{
		<option value="@customer.UserId">@customer.UserId - @customer.UserName</option>
	}
</select>
<br />
<select @bind="StaffId" class="form-select" aria-label="Default select example">
	<option selected disabled value="">Choose Your Staff ID:</option>
	<option value="1">Service One</option>
	<option value="2">Service Two</option>
	<option value="3">Service Three</option>
</select>
<br />
<select @bind="SelectedService" class="form-select" aria-label="Default select example">
	<option selected disabled value="">Choose Required Service:</option>
	<option value="1">Service One</option>
	<option value="2">Service Two</option>
	<option value="3">Service Three</option>
</select>
<br />
<div class="input-group">
	<span class="input-group-text">Date:</span>
	<input type="text" aria-label="First name" class="form-control">
</div>
<br />
<div class="input-group">
	<span class="input-group-text">Time:</span>
	<input type="text" aria-label="First name" class="form-control">
</div>
<br />
<button type="button" class="btn btn-outline-success">Book Appointment</button>
<br />

@code {
	// set initial value to  null using ?
	int? CustomerId { get; set; }
	int? StaffId { get; set; }
	int? SelectedService { get; set; }

	List<Customer> customers = new List<Customer>();
	
}
