@page "/technicianworkschedule"

<h3>Techinician Task Management System</h3>
<br />
<br />
<h4>To Do Tasks:</h4>
<select class="form-select" aria-label="Default select example">
  <option selected>Choose Task</option>
  <option value="1">Task One</option>
  <option value="2">Task Two</option>
  <option value="3">Task Three</option>
</select>
<br />
<div class="input-group">
	<span class="input-group-text">Staff ID:</span>
	<input type="text" aria-label="First name" class="form-control">
</div>
<br />
<button type="button" class="btn btn-outline-primary">Book Task</button>
<br />
<br />
<br />
<br />

<style>
	hr {
		border: none;
		border-top: 3px solid black;
		margin: 20px 0;
	}
</style>

<hr>


<h4>In Progress Tasks:</h4>
<select class="form-select" aria-label="Default select example">
  <option selected>Choose Task</option>
  <option value="1">Task One</option>
  <option value="2">Task Two</option>
  <option value="3">Task Three</option>
</select>
<br />
<div class="input-group">
	<span class="input-group-text">Staff ID:</span>
	<input type="text" aria-label="First name" class="form-control">
</div>
<br />
<button type="button" class="btn btn-outline-success">Task Complete</button>
<br />
<br />
<br />
<br />
@code {
	private void ReloadPage()
	{
	}
}
